.begining__button {
  font-family: "Kablammo", system-ui;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  background-color: #1abc9c;
  color: white;
}

.begining__button:hover {
  box-shadow: 0 0 20px #1abc9c, 0 0 30px #1abc9c;
}

.begining__users-list {
  margin:0;
  /* min-height:100vh; */
  display:grid;
  justify-content:center;
  font-family: system-ui, sans-serif;
  /* font-size: 40px; */
}

.begining__item {
  font-family: "Kablammo", system-ui;
  color: #009688;;
  display:inline-flex;
  align-items:center;
  gap:10px;
  margin:5px 0;
  cursor: pointer;
}

.begining__user-radio {
  --s: 1em;
  /* control the size */
  --c: #009688;
  /* the active color */

  margin-right: 10px;
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s)/8) solid #939393;
  padding: calc(var(--s)/8);
  background:
    radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s)/10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
}

.begining__user-radio:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}
