.forest__container {
  position: relative;
}

.forest__overlay {
  position: absolute;
  top: 20px;
  width: calc(100% - 40px);
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.forest__input {
  background: rgba(255,255,255,0.4);
  border: none;
  display: block;
  outline: none;
  width: 100%;
  /* height: 30p; */
  margin: 0 auto;
  padding: 10px;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}

.forest__input:first-child {
  margin-bottom: 10px;
}

.forest__select-button {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.forest__select-box {
  position: relative;
}

.forest__app-cover {
  width: 100%;
  height: 42px;
  z-index: 1;
}

.forest__select-button {
  position: relative;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;

  border: none;
  background: rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}

.forest__view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}


.forest__option,
.forest__label {
  color: #2d3667;
}

.forest__view-button:checked + .forest__select-button #chevrons i {
  color: #2d3667;
}

.forest__options {
  position: absolute;
  top: 47px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: rgba(255,255,255,0.4);
  border: none;
}

.forest__view-button:checked ~ .forest__options {
  background: rgba(255,255,255,0.4);
  border: none;
}

.forest__option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
}

.forest__label {
  display: none;
  padding: 0;
}

.forest__view-button:checked ~ .forest__options .forest__label {
  display: block;
  padding: 12px 14px;
}

.forest__input-radio {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.forest__input-radio_top  {
  top: 0;
}

.forest__input-radio_bottom {
  bottom: 0;
}

.forest__input-radio {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.forest__input-radio:hover {
  height: 100%;
  z-index: 1;
}


@keyframes moveup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.forest__label {
  transition: 0.3s ease all;
}

.forest__value {
  position: absolute;
  left: 14px;
  width: 217px;
  height: 21px;
  opacity: 0;
  background-color: #fff;
  transform: scale(0);
}

.forest__option .forest__input-radio:checked ~ .forest__value {
  opacity: 1;
  transform: scale(1);
}


.forest__option .forest__input-radio:checked ~ .forest__label {
  color: #fff;
}

.forest__option .forest__input-radio:checked ~ .forest__label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.forest__view-button:not(:checked)
  ~ .forest__options
  .forest__option
  .forest__input-radio:checked
  ~ .forest__value {
  top: -47px;
  height: 44px;
}

.forest__option:nth-child(1) .forest__input-radio:checked ~ .forest__label:before {
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.forest__option:nth-child(1) .forest__input-radio:checked ~ .forest__value {
  height: 100%;
  top: -47px;
  width: 100%;
  left: 0;
  display: block;
  padding-top: 10px;
}

.forest__option:nth-child(2) .forest__input-radio:checked ~ .forest__label:before {
  background-color: #ea4c89;
}

.forest__option:nth-child(2) .forest__input-radio:checked ~ .forest__value {
  height: 100%;
  top: -92px;
  width: 100%;
  left: 0;
  display: block;
  padding-top: 10px;
}


.forest__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

.forest__view-button:checked ~ .forest__options .forest__bg {
  display: block;
}

.forest__option:hover .forest__label {
  color: #fff;
}

.forest__option:nth-child(1):hover ~ .forest__bg {
  top: 0;
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.forest__option:nth-child(2):hover ~ .forest__bg {
  top: 44px;
  background-color: #ea4c89;
}



