.greenhouse__container {
  position: relative;
}

.greenhouse__game {
  position: absolute;
  top: 20px;
  width: calc(100% - 40px);
}

.greenhouse__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 5px;

  margin-bottom: 88px;
}

.greenhouse__card {
  background-color: #10abff;
  text-transform: uppercase;
  font-size: 25px;
  padding: 5px;
}


.greenhouse__overlay {
  display: inline-block;
  justify-content: center;
  position: relative;
  font-size: 16px;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  border-radius: 9999em;
}


.greenhouse__input:focus+span {
  opacity: 1;
  transform: scale(1);
}

.greenhouse__border-light {
  transform: scale(0.993, 0.94);
  transition: transform 0.5s, opacity 0.25s;
  opacity: 0;

  position: absolute;
  z-index: 0;
  margin: 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 1px #fff,
    0 0 0 4px #fff,
    3px -3px 30px #1beabd,
    -3px 3px 30px #10abff;
}

.greenhouse__btn::after {
  content: '';
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  right: 9px;
  top: 5px;
  background-image: url('../img/leaf.png');
  background-size: 25px;
  background-repeat: no-repeat;
  z-index: 10;
  cursor: pointer;
  transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

.greenhouse__input:focus~.greenhouse__btn::after {
  background-image: url('../img/plant.png');
}

.greenhouse__input {
  position: relative;
  display: inherit;
  border-radius: inherit;
  width: 100%;

  border: none;
  outline: none;
  padding: 5px 0.325em;
  z-index: 1;

  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
  margin-right: 10px;
}

.greenhouse__input::placeholder {
  color: #cbd0d5;
}

@media (min-width: 500px) {
  .greenhouse__overlay {
    font-size: 20px;
  }

  .greenhouse__btn::after {
    top: 7px;
  }

  .greenhouse__card {
    font-size: 30px;
  }
}

@media (min-width: 600px) {
  .greenhouse__card {
    font-size: 2rem;
  }

  .greenhouse__overlay {
    font-size: 1rem;
  }
}
