.header__container {
  padding: 20px;
  text-transform: uppercase;
}

.header__container {
  padding: 50px 20px 50px 170px;
  text-align: center;
}
.header__container .header__title {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Kablammo", system-ui;
  font-weight: 400;
  position: relative;

  font-size: 2.5em;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  line-height: 1;
  padding: 8px 20px 8px 2px;
  border-top: 4px solid;

}
.header__container .header__title:before {
  content: "Новогодний";
  position: absolute;
  top: -10px;
  left: -160px;
  font-size: 0.5em;
  transform: rotate(-25deg);
  font-family: 'Marck Script', cursive;
  /* font-family: "Kablammo", system-ui; */
}
.header__container .header__title:after {
  content: "";
  position: absolute;
  width: 120%;
  height: 4px;
  right: 0;
  bottom: -4px;
  background: white;
}
@media (max-width: 580px) {
  .header__container {padding-left: 130px;}
  .header__container .header__title {font-size: 2em;}
  .header__container .header__title:before {left: -130px;}
}
@media (max-width: 480px) {
  .header__container {padding-left: 100px;}
  .header__container .header__title {
    font-size: 1.5em;
    padding-right: 10px;
}
  .header__container .header__title:before {left: -100px;}
}
@media (max-width: 380px) {
  .header__container {padding-left: 90px;}
  .header__container .header__title {font-size: 1.3em;}
  .header__container .header__title:before {left: -88px;}
}
