.header__container {
  padding: 20px;
  text-transform: uppercase;
}

.header__container {
  padding: 50px 20px 0 170px;
  text-align: center;
}

.header__container .header__title {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Kablammo", system-ui;
  font-weight: 400;
  position: relative;

  font-size: 2.5em;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  line-height: 1;
  padding: 8px 20px 8px 2px;
  border-top: 4px solid;

}

.header__container .header__title:before {
  content: "Новогодний";
  position: absolute;
  top: -10px;
  left: -160px;
  font-size: 0.5em;
  transform: rotate(-25deg);
  font-family: 'Marck Script', cursive;
  /* font-family: "Kablammo", system-ui; */
}

.header__container .header__title:after {
  content: "";
  position: absolute;
  width: 120%;
  height: 4px;
  right: 0;
  bottom: -4px;
  background: white;
}

/* .header__list {
  margin-left: -60px;
  margin-top: 25px;
  gap: 10px;

  display: grid;
  grid-template-rows: repeat(2, 20px);
  grid-template-columns: repeat(10, 20px);
} */

.header__list {
  margin-left: -60px;
  margin-top: 25px;
  gap: 5px;
  display: grid
;
  grid-template-rows: repeat(4, 20px);
  grid-template-columns: repeat(12, 20px);
}

.header__item {
  /* background-image: url('../img/mandarin.jpg');

  background-color: orange; */
  width: 20px;
  height: 20px;

  border-radius: 50%;
  flex-basis: 6%;
}

/* .header__item:nth-child(1), .header__item:nth-child(2),
.header__item:nth-child(5), .header__item:nth-child(6),
.header__item:nth-child(8), .header__item:nth-child(9),
.header__item:nth-child(11), .header__item:nth-child(12),
.header__item:nth-child(14), .header__item:nth-child(16),
.header__item:nth-child(18), .header__item:nth-child(21),
.header__item:nth-child(23), .header__item:nth-child(25),
.header__item:nth-child(28), .header__item:nth-child(30),
.header__item:nth-child(32), .header__item:nth-child(36),
.header__item:nth-child(37), .header__item:nth-child(38),
.header__item:nth-child(41), .header__item:nth-child(44),
.header__item:nth-child(45), .header__item:nth-child(47),
.header__item:nth-child(48) {

} */

.header__item_mandarin {
  background-image: url('../img/mandarin.jpg');
  background-position: center;
}


@media (max-width: 580px) {
  .header__container {
    padding-left: 130px;
  }

  .header__container .header__title {
    font-size: 2em;
  }

  .header__container .header__title:before {
    left: -130px;
  }

}

@media (min-width: 700px) {
  .header__list {
    margin-left: 0;
    gap: 20px;

    display: grid;
    grid-template-rows: repeat(4, 30px);
    grid-template-columns: repeat(12, 30px);
  }

  .header__item {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 560px) {
  .header__list {
    gap: 15px;

    display: grid;
    grid-template-rows: repeat(4, 25px);
    grid-template-columns: repeat(12, 25px);
  }

  .header__item {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .header__container {
    padding-left: 100px;
  }

  .header__container .header__title {
    font-size: 1.5em;
    padding-right: 10px;
  }

  .header__container .header__title:before {
    left: -100px;
  }
}

@media (max-width: 380px) {
  .header__container {
    padding-left: 90px;
  }

  .header__container .header__title {
    font-size: 1.3em;
  }

  .header__container .header__title:before {
    left: -88px;
  }
}
