.predictions__overlay {
  position: absolute;
    top: 10px;
    left: 30px;
    width: calc(100% - 60px);

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #090d45;
    font-size: 27px;
    line-height: 1;
    text-align: start;
    text-indent: 20px;


}

.predictions__title {
  font-size: 25px;
}

.predictions__patern {
  font-size: 16px;
}

@media (min-width: 400px) {
  .predictions__title {
    font-size: 30px;
  }

  .predictions__patern {
    font-size: 1rem;
  }
}

@media (min-width: 500px) {
  .predictions__title {
    font-size: 2rem;
  }

  .predictions__patern {
    font-size: 1.5rem;
    line-height: 0.8;
  }
}

@media (min-width: 600px) {
  .predictions__overlay {
    padding: 5px 15px;
  }

  .predictions__patern {
    font-size: 1.5rem;
    line-height: 1;
  }
}
