.restroom__container {
  position: relative;
}

.restroom__overlay {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 20px;
  justify-content: space-evenly;
  width: calc(100% - 40px);
}

.restroom__border {
  background: url('../img/doorBorder.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  float: left;
  height: 160px;
  width: 80px;
  -webkit-perspective: 450;
  border-radius: 3px;
  box-sizing: border-box;
}

.restroom__border:first-child {
  background: url('../img/restroom/holl.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.restroom__border:nth-child(2) {
  background: url('../img/restroom/kitchen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.restroom__border:nth-child(3) {
  background: url('../img/restroom/library.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.restroom__border:nth-child(4) {
  background: url('../img/restroom/greenhouse.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}


.restroom__door {
  background:  url('../img/door.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 160px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset;
  transition: 1s transform linear;
  transform-origin: left;
  cursor: pointer;
}

/* .restroom__border::after {
  content: '';
  width: 80px;
  height: 160px;
  display: block;
  background-image: url('https://sun9-37.userapi.com/s/v1/ig2/v7Wp9_H8Q1V8OUo2bnAZTV812ZcnA399lZkI6mdQM87sAHwraLvt7j1kRneFtIcT6anaDIedtD_mem2bHOMcrAKn.jpg?quality=96&as=32x32,48x48,72x72,108x108,160x160,200x200&from=bu&u=GQiGsBdsktjuEtNdJtxIR3viqwFK2UpbQZRQgGRAiJQ&cs=200x200');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */

.restroom__door_opened {
  transform: rotateY(-90deg);
  transform-origin: 8px;
  transition: .5s linear;
}

@keyframes go {
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media (min-width: 360px) {
  .restroom__overlay {
    top: 40%;
  }
}

@media (min-width: 500px) {
  .restroom__border {
    height: 200px;
    width: 100px;
  }

  .restroom__door {
    height: 200px;
    width: 100px;
  }
}

@media (min-width: 600px) {
  .restroom__border {
    height: 240px;
    width: 120px;
  }

  .restroom__door {
    height: 240px;
    width: 120px;
  }
}

@media (min-width: 700px) {
  .restroom__border {
    height: 300px;
    width: 150px;
  }

  .restroom__door {
    height: 300px;
    width: 150px;
  }

  .restroom__border:first-child {
    background: url('../img/restroom/holl.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
  }

  .restroom__border:nth-child(2) {
    background: url('../img/restroom/kitchen.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
  }

  .restroom__border:nth-child(3) {
    background: url('../img/restroom/library.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
  }

  .restroom__border:nth-child(4) {
    background: url('../img/restroom/greenhouse.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
  }
}
