.workroom__container {
  position: relative;
  color: rgb(18, 10, 90);
  font-size: 16px;

  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.workroom__wraper {
  position: absolute;
  top: 10px;
  left: 30px;
  background-image: url("../img/cub.png");
  width: calc(100% - 60px);
  background-size: cover;
  padding-bottom: 5px;
}

.workroom__overlay {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 230px;
}

.workroom__table {
  border-collapse: collapse;
  border-spacing: 0;
}

.workroom__td {
  border: 2px rgb(18, 10, 90) solid;
  padding: 0px 10px;
}

.workroom__td_bull {
  text-align: right;
}

.workroom__td_cow {
  text-align: left;
}

.workroom__td_number {
  font-size: 18px;
  letter-spacing: 8px;
}

.workroom__feedback {
  align-self: flex-start;
}

.workroom__input {
  letter-spacing: 8px;
  font-size: inherit;
  padding: 2px 10px;
  width: 93px;
  color: inherit;
  border: 2px solid rgb(18, 10, 90);
  background-color: transparent;
}

.workroom__input::-webkit-outer-spin-button,
.workroom__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.workroom__input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  font-size: 14px;
}

.workroom__btn {
  color: inherit;
  padding: 2px 10px;
  letter-spacing: normal;
  font-size: inherit;
  background-color: transparent;
  border: 2px solid rgb(18, 10, 90);
}

@media (min-width: 600px) {
  .workroom__wraper {
    background-size: contain;
  }

  .workroom__container {
    font-size: 20px;
  }

  .workroom__td_number {
    font-size: 22px;
  }

  .workroom__overlay {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 280px;
  }

  .workroom__input {
    width: 111px;
  }
}
